<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @classified_ad.poster_name %>!</h1>
    <p>Thanks for posting your <a href="http://bst-bahamas.herokuapp.com/#/manage_ad?id=<%= @classified_ad.id %>"><%= @classified_ad.title %></a> Ad with BST-Bahamas</p>
    <br>
    <p>We hope your Ad generates the response you're looking for.</p>
    <br>
    <p>Thanks for using BST-Bahamas and good luck with your Ad!</p>
    <br>
    <p>Regards,</p>
    <p>The BST-Bahamas Team</p>
  </body>
</html>