<div class="manage-ad-form">
	<div>
		<p>Title: </p>
		<input type="text" ng-model="classifiedAd.title">
	</div>
	<div>
		<p>Description: </p>
		<input type="text" ng-model="classifiedAd.description">
	</div>
	<div>
		<p>Price: </p>
		<input type="text" ng-model="classifiedAd.price">
	</div>
	<div>
		<p>Photo: </p>
		<img src="{{classifiedAd.photo_medium_url}}">
		<input type="file" ng-file-select="onFileSelect($files)" >
	</div>
	<div>
		<button>Save</button>
		<button>Delete</button>
	</div>
</div>