<div id='myadsCont'>
    <table class="table">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Location</th>
            <th>Price</th>
            <th></th>
        </tr>
        <tr ng-repeat="ad in myAds" ng-model="ad" ng-if="!ad.isDeleted">
            <td><img src={{ad.photo_thumb_url}}/></td>
            <td>{{ad.title}}</td>
            <td>{{locationHash[ad.location_id]}}</td>
            <td>{{ad.price|currency}}</td>
            <td>
                <span style="margin-right:10px;" class="action" id="edit" ng-click="getID(ad.id)">Edit</span>
                <span class="action" id="del" ng-click="delete(ad)">Delete</span>
            </td>
        </tr>
        <tr ng-if="!loading && myAds.length == 0">
            <td colspan="4">You currently have no ads available</td>
        </tr>
    </table>
</div>