<div class="form" ng-if="!success">
    <div class="headerCont"><h3 id="signup" class="headerText">Change your password</h3></div>
	<input ng-model="password" type="password" placeholder="New password" id='pwd'>
	<div class="login-error" ng-repeat="error in errors.password">Password {{error}}</div>
	<input ng-model="passwordConfirmation" type="password" placeholder="Confirm new password">
	<div class="login-error" ng-repeat="error in errors.password_confirmation">Confirmation {{error}}</div>
	<button ng-click="updatePassword()">Change my password</button>
</div>
<div ng-if="success" class="success-msg">Your password has been changed!</div>