<div id="adCont" ng-hide="showSpinner || classifiedAds.length == 0">
    <div class="adInfo">
        <div ng-repeat="ad in classifiedAds">
            <div id="adDesc">
                <div id="header">
                    <h5>{{ad.title}}</h5>
                </div>
                <div id="blurb">
                    <p>{{ad.description}}</p>

                </div>
                <span id="price">{{ad.price|currency}}</span>
            </div>
            <div id="adImg">
                <img src={{ad.photo_medium_url}}/>
            </div>
        </div>
    </div>
</div>
<pagination ng-show="classifiedAds.length > 0" total-items="totalItems" ng-model="pagination.currentPage" ng-change="pageChanged()" items-per-page="$scope.pagination.per"></pagination>