<div class="home-page" ng-if="!loading">
	<div class="disclaimer hidden-xs"><h4>FEATURED ADS</h4></div>
	<ul rn-carousel rn-carousel-control="true" class="hidden-xs">
	  <li ng-repeat="x in range(numSlides)">
	  	<div ng-repeat="y in range(10) track by $index" class="item" ng-if="featuredAds[x+y] != null" ng-click="showAd(featuredAds[x+y].id)">
	  		<img ng-src="{{featuredAds[x+y].photo_thumb_url}}">
	  		<div class="title">{{featuredAds[x+y].title}}</div>
	  	</div>
	  </li>
	</ul>
    <br>
    <div class="panel"></div>
	<div class="categories">
		<div class="category" ng-repeat="category in categories">
            <div id="iconwrap">
                <i ng-class="categoryIcons[category.name]"></i>
            </div>
            <div id="categorywrap">
                <div class="category-name" ng-click="clickCategory(category)">
                    <span style="font-size:1.5em;"><b>{{category.name}}</b></span>
                </div>
                <div class="sub-category" ng-repeat="subCategory in category.sub_category" ng-click="clickSubCategory(category, subCategory)">
                    {{subCategory.name}}
                </div>
            </div>
		</div>
	</div>
	<hr>
	<div class="disclaimer">
		<span><b>DISCLAIMER: </b></span>
		BSTBahamas is not responsible for any item bought or sold from the site
	</div>
</div>
<div class="spinner" ng-if="loading">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>