# PostgreSQL. Versions 8.2 and up are supported.
#
# Install the pg driver:
#   gem install pg
# On OS X with Homebrew:
#   gem install pg -- --with-pg-config=/usr/local/bin/pg_config
# On OS X with MacPorts:
#   gem install pg -- --with-pg-config=/opt/local/lib/postgresql84/bin/pg_config
# On Windows:
#   gem install pg
#       Choose the win32 build.
#       Install PostgreSQL and put its /bin directory on your path.
#
# Configure Using Gemfile
# gem 'pg'
#
default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  <<: *default
  database: bst-bahamas_development
  username: postgres
  password: password
  host: 127.0.0.1

development:
  <<: *default
  database: bst-bahamas_development
  username: postgres
  password: elow1994
  host: 127.0.0.1


test:
  <<: *default
  database: bst-bahamas_test

production:
  <<: *default
  database: bst-bahamas_production
  # username: bst-bahamas
  # password: <%= ENV['BST-BAHAMAS_DATABASE_PASSWORD'] %>
