/*Style for everything above the yield */

.header
{
    position:absolute;
    top:0;
    left:0;
    height:auto;
    width:100%;
    background-color:#E0E1E4;
    font-family:Karla;
    padding: 5px 20px 10px 20px;
    z-index:400;
    .row
    {
        #banner
        {
            padding-top:20px;
        }
        #accNav
        {
            position:relative;
            .nav-links
            {
                #nav
                {
                    list-style:none;
                    float:right;
                    li
                    {
                        display:inline !important;

                        a
                        {
                            text-decoration:none;
                            text-transform:uppercase;
                            font-weight:bold;
                            color:#fff;

                            &:hover
                            {
                                background-color:transparent;
                            }
                        }
                    }

                    #login a, #logout a, #postAd, #signup a, #my_ads a
                    {
                        text-transform:uppercase;
                        color:#1C9CBA;
                        padding:5px;
                        border-radius:3px;
                    }

                    #postAd
                    {
                        background-color:#455266;
                        float:right;
                        width:100%;
                        text-align:center;
                    }
                }
            }
        }
    }

    .row#searchbar
    {
        .customSel
        {
            color:#fff;
            select
            {
                outline:none;
                border:none;
                width:100%;
                height:35px;
                border-radius:2px;
                padding-left:15px;
                background-color:#1C9CBA;
                background-image:url('ficons/arrow-down.png');
                background-repeat:no-repeat;
                background-size:20px;
                padding-right:5px;
                background-position:right;
                -webkit-appearance:none;
                -moz-appearance:none;
                -ms-appearance:none;
                cursor:pointer;
            }
        }
        #search
        {
            input
            {
                width:80%;
                float:left;
                height:35px;
                padding-left:15px;
            }
            button
            {
                float:left;
                border-top-left-radius:0;
                border-bottom-left-radius:0;
                height:35px;
                background-color: #1C9CBA;
                border-color: transparent;
                .glyphicon.glyphicon-search
                {
                    color:#fff;
                }
            }
        }
    }
}

.ng-invalid {
    border-color: #f00 !important;
}

#sideMenu
{
    display:none; //sideMenu shows on pc if this is not there.
}

//Chris Coyier ribbon
.ribbon-wrapper-green {
  width: 95%;
  height: 95px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  position:relative;
  font: bold 8px Sans-Serif;
  text-transform:uppercase;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(50deg);
  -moz-transform:    rotate(50deg);
  -ms-transform:     rotate(50deg);
  -o-transform:      rotate(50deg);
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  left:50%;
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
@media (max-width:768px)
{
    #veil
    {
        height:100%;
        width:60px;
    }

    .header
    {
        padding:0;
        text-align:center;

        #banner
        {
            padding:0 !important;
        }

        #accNav //hidden from view
        {
            width:100%;
            display:none;

            .nav-links
            {
                width:inherit;

                #nav
                {
                    display:inline-block;
                    width:inherit;
                    padding:0 !important;

                    #postAd
                    {
                        width:0 !important;
                        float:none !important;
                    }

                    li
                    {
                        display:inline-block !important;
                    }

                    p
                    {
                        display:inline;
                        width:0;
                    }

                }
            }
        }
    }

    #searchbar
    {
        display:none; //don't want to see on page. Put on side bar
    }

}