/*Style for everything above the yield */
@import url('http://fonts.googleapis.com/css?family=Karla');
.header.fixed-top
{
    position:fixed;
    width:100%;
    background-color:#f0f0f0;
    font-family:Karla;
    padding: 5px 5px 20px 5px;
    z-index:1000;
    .row
    {
        #banner
        {
            padding-top:20px;
        }
        #accNav
        {
            position:relative;
            padding-top:30px;
            .nav-links
            {
                #nav
                {
                    list-style:none;
                    float:right;
                    li
                    {
                        display:inline;
                        margin:10px;

                        a
                        {
                            text-decoration:none;
                            text-transform:uppercase;
                            font-weight:bold;
                            color:#fff;

                            &:hover
                            {
                                background-color:transparent;
                            }
                        }
                    }

                    #login a,#postAd
                    {
                        text-transform:uppercase;
                        color:#1C9CBA;
                        padding:5px;
                        border-radius:3px;
                    }

                    #postAd
                    {
                        background-color:#455266;
                    }
                }
            }
        }
    }

    .row#searchbar
    {
        .customSel
        {
            color:#fff;
            select
            {
                outline:none;
                border:none;
                width:100%;
                height:30px;
                border-radius:2px;
                padding-left:15px;
                background-color:#1C9CBA;
                background-image:url('ficons/arrow-down.png');
                background-repeat:no-repeat;
                background-size:20px;
                padding-right:5px;
                background-position:right;
                -webkit-appearance:none;
                -moz-appearance:none;
                -ms-appearance:none;
            }
        }
        #search
        {
            input
            {
                width:80%;
                float:left;
                height:30px;
            }
            button
            {
                float:left;
                border-top-left-radius:0;
                border-bottom-left-radius:0;
                height:30px;
                background-color: #1C9CBA;
                border-color: transparent;
                .glyphicon.glyphicon-search
                {
                    color:#fff;
                }
            }
        }
    }
}

