/*Style for everything above the yield */
.header.fixed-top
{
    height:60px;
    width:100%;
    background:-webkit-linear-gradient(0deg, steelblue, yellow, #333);
    color:#fff;
    position:fixed;
    z-index:200;
}

#company
{
    height:100%;
    float:left;
    
    #name
    {
        line-height:20px;
    }

}


.nav-links
{
    float:right;
    
    #nav
    {
        list-style:none;
    }
    
    li
    {
        display:inline;
        margin:0px 5px 0px 5px;
    }

    li>a
    {
        text-decoration:none;
        color:#fff;
        line-height:4 !important;
    }
}


.searchbar
{
    #container
    {
        width:100%;
        text-align:center;
        margin:auto;
        height:100%;

    }
    
    >div>div
    {
        display:inline;
    }   

}


#search
{
    position:relative;
    
    >input
    {
        width:250px;
    }
}

#suggestions
{
    position:absolute;
    top:30px;
    left:80px;
    height:200px;
    width:400px;
    box-shadow: 0px 0px 15px #000;
    overflow:auto;
}

#location
{
    >input
    {
        width:250px;
    }
}

.searchbar
{
    z-index:200;
    height:25px;
    padding:20px 0 40px 0;
    width:100%;
    background:-webkit-linear-gradient(90deg, #444, #222, #111);
    position:fixed;
    top:60px;
    
    span
    {
        color:#fff;
        font-weight:bold;
    }
}


ul
{
    list-style:none;
}

#view
{
    float:left;
    width:90%;
    margin-top:110px;
}

#adsense
{
    float:right; 
    width:10%;
    height:760px;
}