/*Style for everything above the yield */

.header
{
    position:absolute;
    top:0;
    left:0;
    height:auto;
    width:100%;
    background-color:#E0E1E4;
    font-family:Karla;
    padding: 5px 20px 10px 20px;
    z-index:400;
    .row
    {
        #banner
        {
            padding-top:20px;
        }
        #accNav
        {
            position:relative;
            .nav-links
            {
                #nav
                {
                    list-style:none;
                    float:right;
                    li
                    {
                        display:inline !important;

                        a
                        {
                            text-decoration:none;
                            text-transform:uppercase;
                            font-weight:bold;
                            color:#fff;

                            &:hover
                            {
                                background-color:transparent;
                            }
                        }
                    }

                    #login a, #logout a, #postAd, #signup a, #my_ads a
                    {
                        text-transform:uppercase;
                        color:#1C9CBA;
                        padding:5px;
                        border-radius:3px;
                    }

                    #postAd
                    {
                        background-color:#455266;
                        float:right;
                        width:100%;
                        text-align:center;
                    }
                }
            }
        }
    }

    .row#searchbar
    {
        .customSel
        {
            color:#fff;
            select
            {
                outline:none;
                border:none;
                width:100%;
                height:35px;
                border-radius:2px;
                padding-left:15px;
                background-color:#1C9CBA;
                background-image:url('ficons/arrow-down.png');
                background-repeat:no-repeat;
                background-size:20px;
                padding-right:5px;
                background-position:right;
                -webkit-appearance:none;
                -moz-appearance:none;
                -ms-appearance:none;
                cursor:pointer;
            }
        }
        #search
        {
            input
            {
                width:80%;
                float:left;
                height:35px;
                padding-left:15px;
            }
            button
            {
                float:left;
                border-top-left-radius:0;
                border-bottom-left-radius:0;
                height:35px;
                background-color: #1C9CBA;
                border-color: transparent;
                .glyphicon.glyphicon-search
                {
                    color:#fff;
                }
            }
        }
    }
}

.ng-invalid {
    border-color: #f00 !important;
}

#sideMenu
{
    display:none; //sideMenu shows on pc if this is not there.
}


@media (max-width:768px)
{
    #veil
    {
        height:100%;
        width:60px;
    }

    .header
    {
        padding:0;
        text-align:center;

        #banner
        {
            padding:0 !important;
        }

        #accNav //hidden from view
        {
            width:100%;
            display:none;

            .nav-links
            {
                width:inherit;

                #nav
                {
                    display:inline-block;
                    width:inherit;
                    padding:0 !important;

                    #postAd
                    {
                        width:0 !important;
                        float:none !important;
                    }

                    li
                    {
                        display:inline-block !important;
                    }

                    p
                    {
                        display:inline;
                        width:0;
                    }

                }
            }
        }
    }

    #searchbar
    {
        display:none; //don't want to see on page. Put on side bar
    }

}