html, body {
	min-height: 100%;
	max-width: 100%;
    overflow-x:none;
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
	color: #5D6773;
}

.header {
	display: inline-block;
	width: 100%;
	.title {
		display: inline-block;
		margin-right: 50%;
	}
}

.home-page {
	margin-top: 5%;
	margin-left: 2%;
	width: 100%;
	.slider {
		width: 100%;
		text-align: center;
	}
	.categories {
		width: 100%;
		.category {
			width: 25%;
			margin-bottom: 5%;
			display: inline-block;
			vertical-align: top;
			text-decoration: underline;
			cursor: pointer;
			.sub-category {
				text-decoration: underline;
				cursor: pointer;
				width: 40%;
			}
			.sub-category:hover {
				background-color: #1C9CBA;
			}
			.category-name {
				width: 40%;
			}
			.category-name:hover {
				background-color: #1C9CBA;
			}
		}
	}
}