html, body {
	min-height: 100%;
	max-width: 100%;
    overflow-x:none;
	margin: 0;
	padding: 0;
	font-family: "Lato","HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
	color: #5D6773;
}

.header {
	display: inline-block;
	width: 100%;
	.title {
		display: inline-block;
		margin-right: 50%;
	}
}

.disclaimer {
	margin-top: 1%;
	margin-left: 2%;
	width: 100%;
}
.home-page {
	margin-top: 2%;
	margin-left: 2%;
	width: 100%;
	.rn-carousel-slide {
		padding-left: 2%;
		padding-right: 5%;
		.item {
			margin-right: 2%;
			cursor: pointer;
			float: left;
		}
		.item:hover {
			text-decoration: underline;
			color: #1C9CBA;
		}
		img {
			width: 100px;
			height: 100px;
		}
		.title {
			width: 100px;
			font-size: 12px;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}
	.categories {
		width: 100%;
		margin-top: 20px;
        color:#1F3A93;
		.category {
			width: 30%;
			margin-bottom: 5%;
			display: inline-block;
			vertical-align: top;
			text-decoration: underline;
			cursor: pointer;

            #iconwrap
            {
                width:40px;
                height:40px;
                border-radius:100%;
                display:table;
                float:left;
                text-align:center;
                background-color:#1F3A93;
                .fa
                {
                    display:table-cell;
                    vertical-align:middle;
                    color:#fff;
                    font-size:25px;
                }
            }

            #categorywrap
            {
                width:80%;
                float:right;

                span
                {
                    line-height:1;
                }
            }

			.sub-category {
				text-decoration: underline;
				cursor: pointer;
				width: 40%;
			}
			.sub-category:hover {
				color: #1C9CBA;
			}
			.category-name {
				width: 40%;
			}
			.category-name:hover {
				color: #1C9CBA;
			}
		}
	}
}

@media (max-width:768px)
{
    .category
    {
        width:200px !important;
    }

}