*
{
    font-family:Karla;
}

#mainCnt
{
    position:relative;
    top:120px;
    
    .featured
    {
        width:inherit;
        position:fixed;
        overflow-y:scroll;
        top:138px;
        padding-top:20px;
        background-color:#f0f0f0;
        font-family:Karla;
        padding-left:10px;
        height:760px;
        
        
        .sidePanelTitle
        {
            text-transform:uppercase;
            text-decoration:underline;
        }
        
        ul
        {
            padding:0 !important;
            list-style:none;
        }
        
        hr
        {
            border-color:#999;
        }
    }
}

#adCont
{
    height:760px;
    width:100%;
    
    .adInfo
    {
        height:100%;
        width:100%;

        &>div
        {
            float:left;
            height:35%;
            width:30%;
            text-align:center;
            margin: 10px 10px 10px 0;
            border:1px solid #cecece;
            border-radius:7px;
                #adDesc
                {
                    height:57%;
                    width:100%;
                    text-align:left;
                    padding:5px 0 0 10px;
                    h5
                    {
                        text-transform:uppercase;
                    }
                    
                    #blurb
                    {
                        width:90%;
                        
                        p 
                        {
                            text-align:justify;
                            font-size:12px;
                        }
                    }
                    
                    #price
                    {
                        float:right;
                        color:#22A7F0;
                    }
                }        
                
                #adImg
                {
                    height:43%;
                    width:100%;

                    img
                    {
                        width:100%;
                        height:100%;
                        border-bottom-left-radius:5px;
                        border-bottom-right-radius:5px;
                    }
                }
        }
    }
}
