*
{
    font-family:Karla;
}

.row
{
    margin:0 !important; //stop scrolling on x
}

 #view
{
    padding:0 !important;
    position:relative;
    top:120px;
}

#veil
{
    position:fixed;
    height:100%;
    width:100%;
    z-index:500;
    background-color:#222;
    -webkit-filter:opacity(0.9);
    display:none;
}

#mainCnt
{
    position:relative;
    width: 100%;
    height:inherit;
    .featured
    {
        width:100%;
        height:796px;
        position:absolute;
        left:0;
        background-color:#f0f0f0;
        padding-top:20px;
        border-right:#E0E1E4;
        font-family:Karla;
        /*padding:0 10px 0 10px;*/
        padding-left:10px;
        /* temporary fix*/
        height: 700px;
        background: #E0E1E4;

        .sidePanelTitle
        {
            text-transform:uppercase;
            text-decoration:underline;
        }

        ul
        {
            padding:0 !important;
            list-style:none;
        }

        hr
        {
            border-color:#999;
        }
    }
}

#adCont
{
    height:760px;
    width:100%;

    .adInfo
    {
        height:100%;
        width:100%;
        &>div
        {
            float:left;
            height:30%;
            width:22%;
            text-align:center;
            margin: 10px 10px 10px 0;
            border:1px solid #cecece;
            border-radius:7px;
            cursor:pointer;

            &:hover
            {
                box-shadow:5px 5px 10px #555;
                border-right:none;
                border-bottom:none;
            }

                #adDesc
                {
                    height:47%;
                    width:100%;
                    text-align:left;
                    padding:5px 5px 0 10px;

                    #header
                    {
                        height:25%;
                        overflow: hidden;
                        h5
                        {
                            text-transform:uppercase;
                        }
                    }

                    #blurb
                    {
                        width:95%;
                        height:80%;
                        overflow: hidden;
                        p
                        {
                            text-align:left;
                            font-size:12px;
                        }
                    }

                    #price
                    {
                        float:right;
                        color:#22A7F0;
                    }
                }

                #adImg
                {
                    height: 43%;
                    width:100%;

                    img
                    {
                        width:100%;
                        height:100%;
                        border-bottom-left-radius:5px;
                        border-bottom-right-radius:5px;
                    }
                }
        }
    }
}

/* when specific ad is selected */
#container
{
    width:85%;
    height:auto;

    #infoCont
    {
        width:40%;
        float:left;

        #itemImg
        {
            height:65%;
            width:100%;
            margin-bottom:4%;
            img
            {
                cursor:pointer;
                height:25%;
                width:100%;
                border-radius:5px;
            }
            .zoomed
            {
                position:absolute;
                height:400px;
                width:600px;
                z-index:505;
                top:10px;
                left:100px;
            }

        }

        #contactInfo
        {
            width:100%;
            &>div
            {
                border-bottom:1px dashed #cccccc;
                width:100%;
                padding:2%;
                font-size:14px;
                p
                {
                    display:inline;
                }
            }
        }
    }

    #descrCont
    {
        width:50%;
        padding-left:3%;
        float:left;
        height:300px;

        #title
        {
            text-transform:uppercase;
        }

        #price
        {
            color:#22A7F0;
        }

        #back
        {
            color:#22A7F0;
            cursor:pointer;
            text-decoration:underline;
        }
    }
}

.spinner {
    text-align: center;
    margin-top: 25%;
}

a {
  color: #414A54;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

a.selected {
    color: #1C9CBA;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0px;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 0;
}

#adsense
{
    position:relative;
    top:100px;
    padding:0 !important;
}

@media (max-width:768px)
{
    #mainCnt
    {
        margin: 0 !important; //center the ads
    }

    #sideMenu
    {
        display:inline-block !important;
        position:fixed;
        top:18%;
        padding-top:2%;
        width:60%;
        height:auto;
        background-color:steelblue;
        z-index:400;
        left:-60%;
        padding:4px 10px 0 10px;

        #trigger
        {
            height:30px;
            width:25px;
            background-color:steelblue;
            border-top-right-radius:4px;
            border-bottom-right-radius:4px;
            text-align:center;
            padding-top:5px;
            position:fixed;
            z-index:inherit;
            left:0;
            top:50%;
            cursor:pointer;
            &:after
            {
                content:"\f054";
                font-family:FontAwesome;
                color:#fff;
            }
        }

        .sm-nav
        {
            width:100%;

            .sm-navbar
            {
                list-style:none;
                display:inline-block;
                width:100%;
                padding:0 !important;

                .sm-actions
                {
                    text-transform:uppercase;
                    a
                    {
                        color:#fff;
                        font-weight:bold;
                    }
                }
            }
        }

        .sm-categories
        {
            & *
            {
                color:#fff;
            }
        }
    }

    #adCont .adInfo > div
    {
        float:none;
        width:80%;
        margin:auto;
        margin-bottom:10px;
    }

    .pagination
    {
        display:none;
    }

    #container
    {
        width:95%;

        #infoCont
        {
            display:block;
            width:100%;

            #itemImg
            {
                & img
                {
                    height:225px;
                }

                .zoomed
                {
                    height:300px;
                    width:310px;
                    left:0;
                    border-radius:0;
                }
            }
        }

        #descrCont
        {
            width:100%;
        }
    }
}
