*
{
    font-family:Karla;
}

#mainCnt
{
    position:relative;
    top:120px;

    .featured
    {
        width:inherit;
        position:fixed;
        overflow-y:scroll;
        top:138px;
        padding-top:20px;
        background-color:#f0f0f0;
        font-family:Karla;
        padding-left:10px;
        height:760px;


        .sidePanelTitle
        {
            text-transform:uppercase;
            text-decoration:underline;
        }

        ul
        {
            padding:0 !important;
            list-style:none;
        }

        hr
        {
            border-color:#999;
        }
    }
}

#adCont
{
    height:760px;
    width:100%;

    .adInfo
    {
        height:100%;
        width:100%;

        &>div
        {
            float:left;
            height:40%;
            width:30%;
            text-align:center;
            margin: 10px 10px 10px 0;
            border:1px solid #cecece;
            border-radius:7px;
            cursor:pointer;
            
            &:hover
            {
                box-shadow:5px 5px 10px #555;
                border-right:none;
                border-bottom:none;
            }
            
                #adDesc
                {
                    height:57%;
                    width:100%;
                    text-align:left;
                    padding:5px 5px 0 10px;
        
                    #header
                    {
                        height:15%;
                        h5
                        {
                            text-transform:uppercase;
                        }
                    }

                    #blurb
                    {
                        width:95%;
                        height:65%;
                        p
                        {
                            text-align:left;
                            font-size:12px;
                        }
                    }

                    #price
                    {
                        float:right;
                        color:#22A7F0;
                    }
                }

                #adImg
                {
                    height: 43%;
                    width:100%;

                    img
                    {
                        width:100%;
                        height:100%;
                        border-bottom-left-radius:5px;
                        border-bottom-right-radius:5px;
                    }
                }
        }
    }
}

/* when specific ad is selected */
#container
{
    width:85%;
    height:auto;
    
    #infoCont
    {
        width:40%;
        float:left;
        
        #itemImg
        {
            height:65%;
            width:100%;
            margin-bottom:4%;
            img 
            {
                height:25%;
                width:100%;
                border-radius:5px;
            }
        }
        
        #contactInfo
        {
            width:100%;
            &>div
            {
                border-bottom:1px dashed #cccccc;
                width:100%;
                padding:2%;
                font-size:14px;
                p 
                {
                    display:inline;
                }
            }
        }
    }
    
    #descrCont
    {
        width:50%;
        padding-left:3%;
        float:left;
        height:300px;
        #title
        {
            text-transform:uppercase;
        }
        
        #price
        {
            color:#22A7F0;
        }
        
        #back
        {
            color:#22A7F0;
            cursor:pointer;
            text-decoration:underline;
        }
    }
}

.spinner {
    text-align: center;
    margin-top: 25%;
}

a {
  color: #414A54;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background-color: transparent
}

a.selected {
    color: #1C9CBA;
}