#mainCnt
{
    position:relative;
    top:120px;
    
    .featured
    {
        width:inherit;
        position:fixed;
        overflow-y:scroll;
        top:138px;
        padding-top:20px;
        background-color:#f0f0f0;
        font-family:Karla;
        padding-left:10px;
        height:760px;
        
        
        .sidePanelTitle
        {
            text-transform:uppercase;
            text-decoration:underline;
        }
        
        ul
        {
            padding:0 !important;
            list-style:none;
        }
        
        hr
        {
            border-color:#999;
        }
    }
}
