.row
{
    margin:0 !important; //stop scrolling on x
}

 #view
{
    padding:0 !important;
    position:relative;
    top:120px;
}

#veil
{
    position:fixed;
    height:100%;
    width:100%;
    z-index:500;
    background-color:#222;
    -webkit-filter:opacity(0.99);
    display:none;
}

#stage
{
    position:absolute;
    height:400px;
    width:60%;
    z-index:501;
    left:20%;
    top:20%;
    background-repeat:no-repeat;
    background-size:100% 100%;
}

#mainCnt
{
    position:relative;
    width: 100%;
    height:inherit;
    .featured
    {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        background-color: #e5e7e9;
        padding-top: 20px;
        border-right: #e5e7e9;
        padding-left: 20px;
        height: 1200px;

        .sidePanelTitle
        {
            text-transform:uppercase;
            text-decoration:underline;
        }

        ul
        {
            padding:0 !important;
            list-style:none;
        }

        hr
        {
            margin-right: 20px;
            border-top: 1px dotted #FFFFFF;
        }

        select {
            width: 90%;
            color: #FFF;
            outline:none;
            border:none;
            height:35px;
            border-radius:2px;
            padding-left:5px;
            background-color:#1C9CBA;
            background-image:url('ficons/arrow-down.png');
            background-repeat:no-repeat;
            background-size:20px;
            padding-right:5px;
            background-position:right;
            -webkit-appearance:none;
            -moz-appearance:none;
            -ms-appearance:none;
            cursor:pointer;
        }
    }
}

#adCont
{
    height:760px;
    width:100%;

    .adInfo
    {
        height:100%;
        width:100%;
        &>div
        {
            float: left;
            height: 30%;
            width: 180px;
            text-align: center;
            margin: 10px 10px 10px 0;
            border: 1px solid #cecece;
            border-radius: 4px;
            cursor: pointer;

            &:hover
            {
                box-shadow: 1px 2px 3px #A5A5A5;
                border-right: none;
                border-bottom: none;
            }

                .adDesc
                {
                    position:relative;
                    height:47%;
                    width:100%;
                    text-align:left;
                    padding:5px 5px 0 10px;

                    #header
                    {
                        height:25%;
                        overflow: hidden;
                        h5
                        {
                            font-size: 12px;
                            font-weight: bold;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                        }
                    }

                    #blurb
                    {
                        width: 95%;
                        height: 80%;
                        overflow: hidden;
                        margin-top: 6px;
                        p
                        {
                            text-align: left;
                            font-size: 11px;
                            display: -webkit-box;
                            -webkit-line-clamp: 5;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }

                    #price
                    {
                        float: right;
                        color: #D14D6D;
                        font-size: 12px;
                        font-weight: bold;
                        margin-bottom: 3px;
                    }
                }

                .adImg
                {
                    height: 43%;
                    width:100%;

                    img
                    {
                        width:100%;
                        height:100%;
                        border-bottom-left-radius:5px;
                        border-bottom-right-radius:5px;
                    }
                }
        }
    }
}

/* when specific ad is selected */
#container
{
    width:100%;
    height:auto;
            
    .rn-carousel-control.rn-carousel-control-next:before
    {
        content:"\f0a9";
        font-family:FontAwesome;
        color:#fff;
    }

    .rn-carousel-control.rn-carousel-control-prev:before
    {
        content:"\f0a8";
        font-family:FontAwesome;
        color:#fff;
    }
    
    .rn-carousel-container
    {
        width:100% !important;
    }
    
    #infoCont
    {
        width:40%;
        float:left;

        .itemImg
        {
            height:200px;
            width:100%;
            margin-bottom:4%;
            
            .imgWrap
            {
                cursor:pointer;
                height:100%;
                width:100%;
                border-radius:5px;
                
                & img 
                {
                    height:100%;
                    width:100%;
                }
            }
        }

        .zoomed
        {
            position:absolute;
            top:30px;
            left:50px;
            width:80%;
            height:300px;
            z-index:505;
        }

        #contactInfo
        {
            width:100%;
            &>div
            {
                border-bottom:1px dashed #cccccc;
                width:100%;
                padding:2%;
                font-size:14px;
                p
                {
                    display:inline;
                    font-family:Lato,'Helvetica Nueue'
                }
            }
        }
    }

    #descrCont
    {
        width:50%;
        padding-left:3%;
        float:left;
        height:300px;

        #title
        {
            font-weight: bold;
        }

        #price
        {
            color: #D14D6D;
            font-weight: bold;
        }

        #back
        {
            color: #00adc6;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.spinner {
    text-align: center;
    margin-top: 25%;
}

a {
  color: #414A54;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #00adc6;
}

a.selected {
    color: #1C9CBA;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
    margin-bottom: 20px;
    font-size: 12px;
}

#adsense
{
    position:relative;
    top:110px;
    padding:0 !important;
}

.pagination
{
    position:relative;
    top:90%;
}
@media (max-width:768px)
{
    #stage
    {
        width:100%;   
        left:0;
    }
    
    #mainCnt
    {
        margin: 0 !important; //center the ads

        .featured
        {
            display:none;
        }
    }

    #sideMenu
    {
        display:inline-block !important;
        position:fixed;
        top:24%;
        padding-top:2%;
        width:60%;
        height:auto;
        background-color:steelblue;
        z-index:400;
        left:-60%;
        padding:4px 10px 0 10px;

        #trigger
        {
            height:30px;
            width:25px;
            background-color:steelblue;
            border-top-right-radius:4px;
            border-bottom-right-radius:4px;
            text-align:center;
            padding-top:5px;
            position:fixed;
            z-index:inherit;
            left:0;
            top:50%;
            cursor:pointer;
            &:after
            {
                content:"\f054";
                font-family:FontAwesome;
                color:#fff;
            }
        }

        .sm-nav
        {
            width:100%;

            .sm-navbar
            {
                list-style:none;
                display:inline-block;
                width:100%;
                padding:0 !important;

                .sm-actions
                {
                    text-transform:uppercase;
                    a
                    {
                        color:#fff;
                        font-weight:bold;
                    }
                }
            }
        }

        .sm-categories
        {
            & *
            {
                color:#fff;
            }
        }
    }

    #adCont .adInfo > div
    {
        float:none;
        width:180px;
        margin:auto;
        margin-bottom:10px;
    }

    .pagination
    {
        display:none;
    }

    #container
    {

        #infoCont
        {
            width:90%;
            margin:auto;
            float:none;
            .zoomed
            {
                width:100%;
                top:0;
                left:0;
            }
        }

        #descrCont
        {
            width:90%;
            float:none;
            margin:auto;
        }
    }
}
