@import url('http://fonts.googleapis.com/css?family=Karla');

body
{
    max-width:100%;
    overflow:hidden;
}

.form
{
    height:275px;
    width:300px;
    margin:auto;
    border:4px solid #cecece;
    padding:10px;
    text-align:center;
    font-family:Karla;
    border-radius:7px;
    position:relative;
    top:100px;
    .header
    {
        height:60px;
        .headerText
        {
            text-transform:uppercase;
            font-weight:bold;
            color:#444;
        }
    }
    
    input#mail
    {
        background:url('ficons/user.png');
    }
    
    input#pwd
    {
        background:url('ficons/lock.png');
        background-size:5%;
    }
    
    input,input#mail, input#pwd
    {
        height:30px;
        width:80%;
        border-radius:5px;
        border:none;
        margin-bottom:15px;
        padding-left:30px;
        background-size:8%;
        background-repeat:no-repeat;
        background-position:5px;
        background-color:#FAFAFA;
    } 
    
    button
    {
        border:none;
        width:80%;
        height:35px;
        padding:0 10px;
        color:#fff;
        background-color:#2ECC71;
        font-size:1em;
        border-radius:5px;
        transition-property:background-color;
        transition-duration:0.7s;
        &:hover
        {
            background-color:#26A65B;
        }
    }
    
    #forgotPwd
    {
        height:40px;
        width:80%;
        text-align:center;
        margin:auto;
        padding:10px 0;
    }
    
    a
    {
        text-decoration:none;
        color:#000;
        cursor:pointer;
        
        &:hover
        {
            text-decoration:underline;
            color:#000;
            background-color:#fff;
        }
    }
}
