.post-ad-form {
	margin-left: 30%;
	margin-top: 4%;
	padding: 2%;
	width: 60%;
	border: 2px solid #cccccc !important;
	border-radius: 5px;
    .badge
    {
        background-color:#1C9CBA;
    }

	.attr {
        width:55%;
        padding:2%;
        margin-bottom:10px;

        .text
        {
            width:40%;
            float:left;
            text-align:right;
            padding-right:4%;
        }

        .input
        {
            width:60%;
            float:right;
        }
	}

	section{
		margin-top:3%;
	}

    .descr {
        padding-bottom: 12%;
    }
}

@media (max-width:768px), (max-width:1024px)
{
    #view
    {
        padding:0 !important;
    }
    
    .post-ad-form
    {
        width:100%;
        margin: 10% auto !important;
        
        .attr
        {
            width:100%;
            height:40px;
            .text
            {
                text-align:left;
                font-size:12px;
                display:inline-block;
            }
            
            .input
            {
                width:80%;
                float:left;
                
                textarea
                {
                    width:100%;
                    display:block;
                }
                
            }
        }
        
        .attr:nth-of-type(7)
        {
            height:120px;
        }
    }
    
    section 
    {
        margin-bottom:8%;
    }
}
